@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    scroll-behavior: smooth;

    --primary: #e86500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* When scrolling to a # section, add margin so that the target does not overlap with navigation bar */
:target {
    scroll-margin-top: 6rem;
}

/* Scrollbar styling */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #bbb transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #bbb;
    background-clip: content-box;
    border-radius: 999px;
    border: 3px solid transparent;
}
